* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100vh;
}

::selection {
  background: #c993ab;
  color: #241d21;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #faf6f1;
}

::-webkit-scrollbar-thumb {
  background: #7b3f61;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #552941;
}